AWS_REGION=
AWS_PROFILE=

ECR_REPOSITORY_URL=
IMAGE_TAG=
DOCKER_PLATFORM=linux/arm64

ECS_CLUSTER_NAME=
ECS_SERVICE_NAME=

CONTAINER_NAME=
CONTAINER_PORT=
TASK_CPU=256
TASK_MEMORY=512
DESIRED_COUNT=1

TASK_EXECUTION_ROLE_ARN=
TASK_ROLE_ARN=

SUBNET_IDS_JSON='["subnet-xxxxxxxx","subnet-yyyyyyyy"]'
SECURITY_GROUP_IDS_JSON='["sg-xxxxxxxx"]'
ASSIGN_PUBLIC_IP=DISABLED
