AWS_REGION=
AWS_PROFILE=
TFSTATE_URL=

ECR_REPOSITORY_URL=
IMAGE_TAG=
DOCKER_PLATFORM=linux/arm64

ECS_CLUSTER_NAME=
ECS_SERVICE_NAME=

CONTAINER_NAME=
CONTAINER_PORT=
TASK_CPU=256
TASK_MEMORY=512
DESIRED_COUNT=1

ASSIGN_PUBLIC_IP=DISABLED
